.device-title {
    width: 100%;
    background-color: #343a40;
    margin: 10px 0 10px 0;
    border-radius: 3px;
}

.device {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.text-header {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

.text-traffic {
    font-size: 20px;
    padding-left: 30px;
}

.hover {
    cursor: pointer;
}

P {
    padding: 0;
    margin: 0;
}

.text {
    font-size: 14px;
}

.ml-1 {
    margin-left: 50px;
}

._tabel{
 width: 100%;
}
